@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&family=Shrikhand&display=swap');

html, body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 2vmin;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.25);
}

/* Navigational components, ie the top navbar content. */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 9vh;
  background-color: black;
}

.navText {
  padding: 0 1.3vw;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  font-size: 1.4rem;
}

/* This is the Aminoo Logo Text, getting it left aligned. */
.navbar a:first-child {
  margin-right: auto;
  padding-left: 2vw;
  font-weight: bold;
  font-size: 2rem;
}

/* This is the last navbar element, getting it padding on far right. */
.navbar a:last-child {
  padding-right: 3vw;
}

section {
  z-index: 0;
  padding-top: 10vh;
  padding-bottom: 4vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.sectionText {
  margin-top: 6vh;
  font-family: 'Patrick Hand', sans-serif;
  color: white;
  transition: width 0.4s;
  width: 50vw;
}

.sectionText h1 {
  margin: 0 0 2vh 0;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 4.5rem;
  transition: transform 0.3s;
}

.sectionText h1:hover {
  transform: scale(1.1);
}

.sectionText h2 {
  margin: 0 0 2vh 0;
  font-weight: normal;
  font-family: 'Shrikhand', cursive;
  font-size: 2.6rem;
  line-height: 1.8;
  transition: transform 0.3s;
}

.sectionText h2:hover {
  transform: scale(1.1);
}

.sectionText h4 {
  margin: 0 0 2vh 0;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.8;
}

.sectionImg img {
  display: block;
  padding-bottom: 4vh;
  padding-top: 4vh;
  width: 30vw;
  transition: transform 0.3s;
}

.sectionImg img:hover {
  transform: scale(1.2);
}

/* Card view for section templates. */
.sectionCard {
  font-weight: normal;
  padding: 2vh 2vw;
  margin: 5vh 5vw;
  border-radius: 2vh;
}

.sectionCard img {
  width: 15vw;
  vertical-align: middle;
  border-radius: 2vh;
  padding-right: 1vh;
}

.sectionCard h2 {
  padding: 2vh 2vw;
  font-weight: normal;
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.talkButton {
  margin-top: 4vh;
  width: 20vw;
  padding: 2vh 0;
  text-align: center;
  border-radius: 2em;
  background-color: #01A755;
  font-size: 2rem;
  font-family: 'Shrikhand', cursive;
  transition: transform 0.3s;
}

.talkButton:hover {
  transform: scale(1.2);
}

footer {
  font-family: 'Shrikhand', cursive;
  width: 100vw;
  padding: 3vh 3vw;
  text-align: left;
  font-size: 2rem;
}

footer a {
  text-decoration: underline;
  transition: transform 0.3s;
}

footer a:hover {
  transform: scale(1.2);
}

/* Specific Section ID Colors, text alignments. */
#Intro {
  background-color: #e1393e;
}

#Bio {
  background-color: #F5812A;
  text-align: left;
}

#Career {
  background-color: #01A755;
  text-align: left;
}

#Cast {
  background-color: #0099ff;
  text-align: center;
}

#Cast .sectionText {
  width: 80vw;
}

#Quotes {
  background-color: #fcac4f;
  text-align: left;
}

/* Media tags to make website responsive / fluid design. Handle tablet and mobile case. */
@media (max-width: 650px) {
  .sectionText {
    width: 80vw;
    text-align: left;
  }

  .sectionImg img {
    width: 50vw;
  }
}

@media (max-width: 460px) {
  .navbar a {
    font-size: 1.3rem;
  }
}
